/*********************************************
 * CUSTOM STYLES by Bozydar
 *********************************************/
 
 .orginal_img{
    border: 0 !important;
    box-shadow: none !important;
    background: 0 !important
 }

.strokeme
{
    text-shadow:
            -2px -2px 0 #FFF,
            2px -2px 0 #FFF,
            -2px 2px 0 #FFF,
            2px 2px 0 #FFF !important;
}